@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
:root {
  --grey: #DBE2EF;
  --lightBlue: #3F72AF;
  --darkBlue: #112D4E;
  --creme : #FFFDEC;

  --background: #FFFDEC;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDEC;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  border-top: 1px solid black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.card{
  background-color: var(--lightBlue);
}

.color1{
  background-color: var(--grey);
}

.color2{
  background-color: var(--lightBlue);
}

.color3{
  background-color: var(--darkBlue);
}

.color4{
  background-color: var(--creme);
}

.colorWhite{
  color: var(--background);
}

.btn-outline-success{
  color: white!important;
  border-color: var(--lightBlue)!important;
}

.btn-outline-success:hover{
  background-color: var(--lightBlue)!important;
}